<h1>Multiplication</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @nr1 %></dd>

  <dt>Second number</dt>
  <dd><%= @nr2 %></dd>

  <dt>Result</dt>
  <dd><%= @product %></dd>
</dl>

<a href="/multiply">Do another multiplication</a>