<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <div>
    <label for ="user_1">Multiply this:</label>
    <input id="user_1" type="text" 
      placeholder="E.g. 1.5"
      name ="user_1">

    <label for ="user_2">by this:</label>
    <input id="user_2" type="text" 
      placeholder="E.g. 4.5"
      name ="user_2">
  
  <button>Multiply!</button>
  </div>

  
</form>